body {
    margin: 0;
    font-family: 'ralewaylight';
    color: #2D2D2D;
}

/* Header */

#homepageHeader {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 5px #00000033;
    opacity: 0.85;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#barraDeProgreso {
    width: 15rem;
    background-color: #00263A;
}

.contenedorHeader {
    padding: 0.75rem;
}

#iconoMenu {
    display: none;
}

#modalMenu {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: #2e660b;
    opacity: 0.85;
    left: 10%;
    top: 15%;
    z-index: 1500;
}

#modalMenu ul {
    list-style: none;
    padding: 0;
    margin: auto auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

#modalMenu ul li a {
    display: block;
    padding: 1rem;
    letter-spacing: 0;
    color: white!important;
    font-weight: bold;
    opacity: 1;
}

#cerrarModal {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    display: block;
    padding: 1rem;
    letter-spacing: 0;
    text-decoration: none;
    color: inherit;
}

.inactiva {
    color: #2D2D2D !important;
    opacity: 1;
    font-size: 0.85rem;
}

.activa {
    text-align: left;
    font-family: 'ralewaybold';
    font-size: 1rem;
    letter-spacing: 0;
    color: #3A7F0D !important;
    opacity: 1;
}

/* Header */

/* Contenido */

#quienesSomos {
    background-image: url("../../assets/imagenes/Homepage/imagen_quienesSomos.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedorInformacionQuienesSomos {
    background: #3A7F0D 0% 0% no-repeat padding-box;
    border-radius: 46px;
    opacity: 0.7;
    width: 80%;
    margin: 8rem auto 3rem auto;
}

#queHacemos {
    padding-top: 8rem;
}

#carouselQueHacemos {
    height: 30rem;
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.contenedor_texto_carousel {
    background: rgba(0, 0, 0, 0.45);
    color: white;
    height: 70%;
    width: 40%;
    position: absolute;
    top: 15%;
    left: 10%;
    overflow: hidden;
    overflow-y: scroll;
}

.titulo_texto_carousel {
    font-weight: bold;
}

.texto_carousel {
    font-weight: lighter;
}

#conoceALasFamilias {
    padding-top: 8rem;
}

#comoPuedesAyudarnos {
    padding-top: 8rem;
}

.imagen_comoPuedesAyudarnos {
    width: 17.5rem;
    height: 17.5rem;
}

.titulo_comoPuedesAyudarnos {
    font-family: 'ralewayextrabold';
    color: #2D2D2D;
}

.btn_comoPuedesAyudarnos {
    background: #49A010 0% 0% no-repeat padding-box;
    border: none;
    outline: none;
    border-radius: 23px;
    opacity: 1;
    color: white;
}

.opcion_donacionMonetaria_cantidad {
    font-size: 2.5rem;
}

.opcion_donacionMonetaria_descripcion {
    font-size: 1.25rem;
}

#necesitasAyuda {
    padding-top: 8rem;
}

#contacto {
    background-color: #00263A;
    padding-top: 8rem;
    padding-bottom: 7rem;
    color: white;
}

#iconoSembrandoConAmorFooter {
    height: 10rem;
}

#iconoConectadosFooter {
    height: 6rem;
}

/* Contenido */

@media only screen and (max-width: 992px) {
    #iconoSembrandoConAmor {
        height: 60px;
    }

    #barraDeProgreso {
        width: 11rem;
        background-color: #00263A;
    }

    .contenedorHeader {
        padding: 0.75rem 1rem;
    }

    #iconoMenu {
        display: block;
        cursor: pointer;
    }

    #iconoMenu img {
        width: 2rem;
        height: 2rem;
    }

    .navegacion {
        display: none;
    }

    #modalMenu.visible {
        display: block;
    }

    #contenedorInformacionQuienesSomos {
        background: #3A7F0D 0% 0% no-repeat padding-box;
        border-radius: 46px;
        opacity: 0.7;
        width: 90%;
        margin: 7rem auto 3rem auto;
    }

    #iconoSembrandoConAmorFooter {
        height: 7rem;
    }

    #iconoConectadosFooter {
        height: 3rem;
    }
}

/* Elementos */

.esconderScroll::-webkit-scrollbar {
    display: none;
}

.esconderScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Raleway-Black {
    font-family: "ralewayblack";
}

.tituloSeccionVerde {
    color: #3A7F0D;
}

.tituloSeccionNegro {
    color: #00263A;
}

.tituloSeccionBlancoBold {
    font-weight: bold;
    color: white;
}

.tituloSeccionBlanco {
    font-weight: lighter;
    color: white;
}

.inputSembrandoConAmor {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    outline: none;
    border-radius: 6px;
    opacity: 1;
    font-family: inherit;
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button:focus, button:active {
    box-shadow: none !important;
    outline: none !important;
}